menu "Module"

menu "Transport / Msgbus"

choice OPENEMBER_PUBSUB_BACKEND_CHOICE
    prompt "Pub/Sub backend"
    default OPENEMBER_PUBSUB_BACKEND_ZMQ

config OPENEMBER_PUBSUB_BACKEND_UDP
    bool "UDP (builtin, no deps)"

config OPENEMBER_PUBSUB_BACKEND_ZMQ
    bool "ZeroMQ"

config OPENEMBER_PUBSUB_BACKEND_NNG
    bool "NNG"

config OPENEMBER_PUBSUB_BACKEND_LCM
    bool "LCM"

endchoice

choice OPENEMBER_MSGBUS_BACKEND_CHOICE
    prompt "Internal msgbus backend"
    default OPENEMBER_MSGBUS_BACKEND_NNG

config OPENEMBER_MSGBUS_BACKEND_NNG
    bool "NNG"

config OPENEMBER_MSGBUS_BACKEND_LCM
    bool "LCM"

endchoice

endmenu

menu "Loadable/Feature Modules"

config OPENEMBER_FEATURE_ALGORITHM
    bool "Enable module: Algorithm"
    default y

endmenu

endmenu

