menu "Module"

menu "Transport / Msgbus"

choice OPENEMBER_MSGBUS_BACKEND_CHOICE
    prompt "Msgbus backend"
    default OPENEMBER_MSGBUS_BACKEND_LCM

config OPENEMBER_MSGBUS_BACKEND_LCM
    bool "LCM"

config OPENEMBER_MSGBUS_BACKEND_NNG
    bool "NNG"

config OPENEMBER_MSGBUS_BACKEND_ZMQ
    bool "ZeroMQ"

config OPENEMBER_MSGBUS_BACKEND_UDP
    bool "UDP (builtin, no deps)"

endchoice

endmenu

menu "Loadable/Feature Modules"

config OPENEMBER_FEATURE_ALGORITHM
    bool "Enable module: Algorithm"
    default y

endmenu

endmenu

