mainmenu "OpenEmber Configuration"

source "apps/Kconfig.application"
source "modules/Kconfig.module"
source "components/Kconfig.component"
source "core/Kconfig.core"
source "platform/Kconfig.platform"
