menu "Transport / Msgbus"

choice OPENEMBER_PUBSUB_BACKEND_CHOICE
    prompt "Pub/Sub backend"
    default OPENEMBER_PUBSUB_BACKEND_ZMQ

config OPENEMBER_PUBSUB_BACKEND_ZMQ
    bool "ZeroMQ"

config OPENEMBER_PUBSUB_BACKEND_NNG
    bool "NNG"

config OPENEMBER_PUBSUB_BACKEND_LCM
    bool "LCM"

endchoice

choice OPENEMBER_MSGBUS_BACKEND_CHOICE
    prompt "Internal msgbus backend"
    default OPENEMBER_MSGBUS_BACKEND_NNG

config OPENEMBER_MSGBUS_BACKEND_NNG
    bool "NNG"

config OPENEMBER_MSGBUS_BACKEND_LCM
    bool "LCM"

endchoice

endmenu

