menu "Build Options"

config OPENEMBER_ENABLE_TESTS
    bool "Build unit tests"
    default y

config OPENEMBER_ENABLE_EXAMPLES
    bool "Build examples"
    default y

config OPENEMBER_ENABLE_OPENMP
    bool "Enable OpenMP"
    default n

config OPENEMBER_DEBUG_ENABLED
    bool "Debug build"
    default y

config OPENEMBER_OPTIMIZATION_DISABLED
    bool "Disable optimization"
    default n

config OPENEMBER_CROSSCOMPILE_ENABLED
    bool "Enable cross compile mode (aarch64)"
    default n

endmenu

