<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>OpenEmber - 一个嵌入式软件框架</title>
        <!-- 开发环境版本，包含了有帮助的命令行警告 -->
        <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script> -->
        <!-- 生产环境版本，优化了尺寸和速度 -->
        <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2"></script> -->
    </head>
    <body>
        <div id="app">
            <p>{{message}}</p>
            <p v-if="seen">现在你看到我了</p>
            <ol>
                <li v-for="todo in todos">
                  {{ todo.text }}
                </li>
            </ol>
        </div>

        <script src="js/vue.js" type="text/javascript" charset="utf-8"></script>

        <script type="text/javascript">
            var app=new Vue({
                el:'#app',
                data:{
                    message:'Hello OpenEmber!',
                    seen: true,
                    todos: [
                        { text: '学习 JavaScript' },
                        { text: '学习 Vue' },
                        { text: '整个牛项目 —— OpenEmber' }
                    ]
                }
            });
        </script>
    </body>
</html>