menu "Core Runtime"

config OPENEMBER_DEBUG_ENABLED
    bool "Debug build"
    default y

config OPENEMBER_OPTIMIZATION_DISABLED
    bool "Disable optimization"
    default n

config OPENEMBER_ENABLE_OPENMP
    bool "Enable OpenMP"
    default n

comment "Framework library (openember::core). Enabled by OpenEmber Link."

config OPENEMBER_ENABLE_CORE
    bool
    default y if OPENEMBER_ENABLE_LINK
    depends on OPENEMBER_ENABLE_LINK

endmenu
